body{
    color: rgb(139, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

table{
    width: 600px;
    border: 1px solid black;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-top: 5px solid gainsboro;
    border-left: 5px solid gainsboro;
    text-align: center;
    background-image: url('../img/fondo.jpg');
    background-size: contain;
}

td, th, tr {
    border: 1px solid black;
}

#c1 {
    background-color: rgb(108, 157, 108);
}

.orange {
    background-color: rgb(238, 174, 119);
}

.yellow {
    background-color: rgb(255, 255, 194);
}
